
#timer {
    font-size: 55px;
    position: fixed;
    top: 0px;
    right: 0px;
    
}

h1 {
    font-size: 55px;
    text-align: center;
}

main {
    text-align: center;
}

button {
    background-color: lightgray;
    margin: 10px;
    padding: 20px;
    font-size: 25px;
}

ol {
    background-color: lightgreen;
    text-align: center;
    margin-left: 33%;
    margin-right: 33%;
}

button:hover {
    background-color: lightblue;
}


.btn.correct,
.btn.correct:hover {
    background-color: green !important;
}

form {
    display: none;
}

input[type=text] {
    padding: 25px;
    font-size: 20px;
}

#right-wrong {
    font-size: 25px;
}